<!DOCTYPE html>
<html>
<head>
    <title>AI Prediction</title>
</head>
<body>

<h1>AI Disaster Prediction</h1>

<form action="/predict" method="POST">

    Temperature :
    <input type="number" name="temperature"><br><br>

    Humidity :
    <input type="number" name="humidity"><br><br>

    Rainfall :
    <input type="number" name="rainfall"><br><br>

    <button type="submit">Predict</button>

</form>
{% if risk %}
<h2 style="text-align:center; color:green;">
    Prediction Result : {{ risk }}
</h2>
{% endif %}

</body>
</html>